@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
    height: 100%;
    min-width: 100%;
    min-height: 100vh;
}
input{
    padding: 2%;
    margin-bottom: 0;
    border: 1px solid #000;
}
button{
    border: none;
    outline: none;
    padding: 3%;
    background-color: rgb(20, 20, 59);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: rgb(20, 20, 59);
    cursor: pointer;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: rgb(73, 73, 244);
    border-radius: 50%;
    animation: bounce 1.5s infinite ease-in-out;
    opacity: 0.3;
}

.dot:nth-child(1) {
    animation-delay: 0s;
    opacity: 1;
}

.dot:nth-child(2) {
    animation-delay: 0.3s;
}

.dot:nth-child(3) {
    animation-delay: 0.6s;
}


@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
        opacity: 0.3;
    }

    50% {
        transform: translateY(-10px);
        opacity: 1;
    }
}

.container {
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.apresentacao{
    margin-bottom: 10%;
}
.apresentacao h1{
    margin-bottom: 0.5rem;
    color: rgb(20, 20, 59);
}
.apresentacao p{
    margin-top: 0;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: white;
    height: 100vh;
    overflow: auto;
    transition: transform 1s ease;
}

.divsenha{
    position: relative;
}

#senha{
    padding-right: 45px;
    width: 100%;
}
    
.divsenha i{
    font-size: 150%;
    cursor: pointer;
    position: absolute;
    right: 10px;
   align-self: center;
   justify-self: center;
}

#senhaCriar{
    padding-right: 45px;
}

label{
    margin-bottom: 0.5rem;
}

.formMoveLeft{
    transform: translateX(-100%);
}
.formMoveLeftMobile {
    transform: rotateY(180deg);
}
form{
    display: flex;
    width: 65%;
    flex-direction: column;
    margin-bottom: 10%;
    color: rgb(20, 20, 59);
}
.mensagens{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
.textLogin{
    color: red;
    font-size: 15px;
    margin-right: 24%;
    margin-bottom: 5%;
}
.recuperaSenha{
    font-size: 15px;
    margin-bottom: 5%;
}
.cadastro{
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 18px;
    transition: transform 1s ease;
}
.cadastro p{
    color: grey;
}
.side{
    height: 100%;
    width: 50%;
    transition: transform 1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sideMoveRight{
    transform:translateX(100%);
}

@media only screen and (max-width: 768px) {
    .container{
        align-items: center;
        justify-content: center;
    }
    .side{
        display: none;
    }
    .login-form{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }
    .recuperaSenha{
        margin-right: 10%;
    }
    .apresentacao{
        align-items: center;
        justify-content: center;
    }
    .apresentacao h1{
        font-size: 28px;
    }
    .cadastro{
        align-items: center;
        justify-content: center;
    }
    .container{
        background-color: rgb(58, 57, 57);
    }
}